<ion-header>

  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header>

<ion-content scroll="false">
  <div class="splash-bg"></div>
  <div class="splash-info">
    <div class="splash-logo"></div>
    <div class="splash-intro">
      WORKAPP
    </div>
  </div>
  <div padding>
    <form (submit)="doLogin()">
        <ion-grid>
            <ion-row>
                <ion-col col-2>
                    <ion-badge color="secondary" class="workapp-badge"><ion-icon name="md-mail"></ion-icon></ion-badge>
                </ion-col>
                <ion-col col-10>
                    <ion-input  type="email" [(ngModel)]="account.email" name="email" placeholder="Email"></ion-input>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-2>
                    <ion-badge color="secondary" class="workapp-badge"><ion-icon name="md-lock"></ion-icon></ion-badge>
                </ion-col>
                <ion-col col-10>
                    <ion-input  type="password" [(ngModel)]="account.password" name="password" placeholder="Password"></ion-input>
                </ion-col>
            </ion-row>
           
    
          <div padding>
            <button ion-button  class="login" block><b>Sing in</b></button>
          </div>
          <div text-center>
             <b>Or</b> 
          </div>
          <ion-row padding>
            <ion-col col-6>
              <button ion-button block (click)="signupBuldier()" class="singup">BUILDER</button>
            </ion-col>
            <ion-col col-6>
              <button ion-button block (click)="signupEmployee()" class="singup">EMPLOYEE</button>
            </ion-col>          
          </ion-row>
    
        </ion-grid>
      </form>

    
  </div>
</ion-content>

