
<ion-header>

    <ion-navbar>
      <ion-title>EMPLOYEE</ion-title>
    </ion-navbar>
  
  </ion-header>

<ion-content class="workapp-content-register">
    <form (ngSubmit)="singUp()" [formGroup]="authForm" novalidate>
      <ion-grid class="register-content">

          <ion-row>
              <ion-col col-12>
                  <ion-label>Register Employee</ion-label>
              </ion-col>
              <ion-col col-12>
                <ion-input type="text" formControlName="first_name"  name="first_name" placeholder="First Name" required></ion-input>
              </ion-col>
          </ion-row>
          <ion-row>
              <ion-col col-12>
                <ion-input type="text" formControlName="last_name" name="last_name" placeholder="Last Name" required></ion-input>
              </ion-col>
          </ion-row>
          <ion-row>
              <ion-col col-12>
                <ion-select formControlName="work_type" name="work_type" placeholder="Work type" interface="action-sheet" required>
                  <ion-option value="1">Cement Worker</ion-option>
                  <ion-option value="2">Construction Carpenter</ion-option>
                  <ion-option value="3">Construction Electrician</ion-option>
                  <ion-option value="4">Dry wall</ion-option>
                  <ion-option value="5">Floor installer</ion-option>
                  <ion-option value="6">Framer</ion-option>
                  <ion-option value="7">General labour</ion-option>
                  <ion-option value="8">Glazier</ion-option>
                  <ion-option value="9">Mason</ion-option>
                  <ion-option value="10">Plasterer</ion-option>
                  <ion-option value="11">Plumber</ion-option>
                  <ion-option value="12">Welder</ion-option> 
                </ion-select>        
              </ion-col>
          </ion-row>
          <ion-row>
              <ion-col col-2>
                  <ion-badge color="secondary" class="workapp-badge"><ion-icon name="md-mail"></ion-icon></ion-badge>
              </ion-col>
              <ion-col col-10>
                <ion-input type="text" formControlName="user" name="user" placeholder="Email" required></ion-input>
              </ion-col>
          </ion-row>
          <ion-row>
              <ion-col col-2>
                <ion-badge color="secondary" class="workapp-badge"><ion-icon name="md-lock"></ion-icon></ion-badge>
                
              </ion-col>
              <ion-col col-10>
                <ion-input type="password" formControlName="password" name="password" placeholder="Password" required></ion-input>
              </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-2>
              <ion-badge color="secondary" class="workapp-badge"><ion-icon name="md-lock"></ion-icon></ion-badge>
              
              </ion-col>
              <ion-col col-10>
                <ion-input type="confirmPassword" formControlName="confirmPassword" name="confirmPassword" placeholder="Confirm password" required></ion-input>
              </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-12>
              <button ion-button outline class="btn-registro" type="submit" [disabled]="!authForm.valid" >Register</button>
            </ion-col>
          </ion-row>
        </ion-grid>
    </form>
  
  </ion-content>
