<!--
  Generated template for the VacantPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>vacant</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form (ngSubmit)="singUp()" [formGroup]="authForm" novalidate>
    <ion-grid class="register-content">
       
        <ion-row>
            <ion-col col-6>
              <ion-select formControlName="work_type" name="work_type" placeholder="Work type" interface="action-sheet" required>
                <ion-option value="1">Cement Worker</ion-option>
                <ion-option value="2">Construction Carpenter</ion-option>
                <ion-option value="3">Construction Electrician</ion-option>
                <ion-option value="4">Dry wall</ion-option>
                <ion-option value="5">Floor installer</ion-option>
                <ion-option value="6">Framer</ion-option>
                <ion-option value="7">General labour</ion-option>
                <ion-option value="8">Glazier</ion-option>
                <ion-option value="9">Mason</ion-option>
                <ion-option value="10">Plasterer</ion-option>
                <ion-option value="11">Plumber</ion-option>
                <ion-option value="12">Welder</ion-option> 
              </ion-select>        
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-6>
              <ion-input type="text" formControlName="number" name="number" placeholder="Number" required></ion-input>
            </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  <button ion-button class="offert-add" (click)="save()"><ion-icon name="add"></ion-icon>&nbsp;Save</button>
</ion-content>
