page-signup {
    ion-navbar{
        padding-top: 0px !important;
    }
    
    ion-nav{
        margin-top: 0px !important;
        height: 100%;
    }
.btn-registro {
    margin-top: 10px;
    float: right;
    background-color: #1577ab;
    color: white;
    font-weight: bold;
}

ion-label{
    text-align: center;
    font-weight: bold;
    font-size: 2.3rem;
    color: #1577ab;
}

[col-12]{
    margin: -4px;
}



.register-content{
    margin-top: 12px;
    margin: 10px;
    background-color: white;
    width: auto;
}
}
